@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OnlineSweetShop</h1>
    <p>Know about sweets <a href="https://worthstart.com/candy-store-slogans/">Life is short,so make it sweet here</a>.</p>
</div>
